doctype html
html(lang="en")
  head

    
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js")
    link(rel="stylesheet",href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
    link(rel="stylesheet", href="stylesheet/style.css")
    link(rel="stylesheet", href="stylesheet/styles.css")
    link(rel="stylesheet", href="stylesheet/bootstrap.min.css")
    
    
                                                                   
  body

    
            
    block content


    block foot


   
    
  script(src="./js/form-validation.js")
  script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js")
  script.
    window.jQuery || document.write('<script src="/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\\/script>')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js" )
  
