extends layout
block content
    div.row.justify-content-center
        form(action="/updated" method="POST")
            div.col-md-9
                div.row.justify-content-center
                    div.col-md-5
                        div.card-body.border
                            header.card-header
                                h4.card-title.text-center.pt-1 You have Succesfully Updated!!!
        a.mm-top(href="/registration" style="color: green;") Logout  


